<header class="admin-header">
  <h1 class="mx-auto">Panel de Administración</h1>  </header>

<aside class="admin-sidebar">
  <div class="logo-container">
    <img src="/image/logo.png" alt="Logo de la empresa" class="logo-admin">
  </div>
  <nav class="admin-nav">
    <a href="/users/admin">Inicio</a>
    <a href="/admin/productos/create">Crear</a>
    <a href="/admin/productos">Productos</a>
    <a href="/admin/ventas">Ventas</a>
    <a href="/admin/usuarios">Usuarios</a>
    <a href="/">Cerrar Sesión</a>
    </nav>
</aside>
