<aside class="menu-productos">
    <h3>Categorías</h3> <ul>
        <li><a href="/productos?categoria=camping"><i class="fas fa-campground"></i> Camping</a></li>
        <li><a href="/productos?categoria=pesca"><i class="fas fa-fish"></i> Pesca</a></li>
        <li><a href="/productos?categoria=kits"><i class="fas fa-box"></i> Kits</a></li>
        <li><a href="/productos?categoria=ofertas"><i class="fas fa-tags"></i> Ofertas</a></li>
        <li><a href="/productos"><i class="fas fa-grip-horizontal"></i> Todas las Categorías</a></li>
    </ul>
</aside>