<!-- Footer -->
    <footer id="contacto">
        <div class="footer-content">
            <!-- Logo del footer -->
            <div class="footer-logo"><a href="#"><img src="/image/logofooter.png"></a></div>
            <!-- Sobre nosotros -->
            <div class="footer-section">
                <h3>Sobre Nosotros</h3>
                <p>Tienda especializada en equipamiento para camping y pesca. Ofrecemos productos profesionales de calidad para que disfrutes de la naturaleza con seguridad y comodidad.</p>
            </div>

            <div class="footer-section">
                <h3>Contacto</h3>
                <p><i class="fas fa-map-marker-alt"></i> Av. Maipú y Rivadavia, Santa Fe, Argentina.</p>
                <p><i class="fas fa-phone"></i> +54 9 1234 5678</p>
                <p><i class="fas fa-envelope"></i> Caña&Carnada@tienda.com.ar</p>
                <div class="social-icons">
                    <a href="#"><i class="fab fa-instagram"></i></a>
                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                    <a href="#"><i class="fab fa-whatsapp"></i></a>
                </div>
            </div>

            <div class="footer-section">
                <h3>Horarios</h3>
                <p>Lunes a Viernes: 8:00 - 19:00</p>
                <p>Sábado: 09:00 - 14:00</p>
                <p>Domingo: Cerrado</p>
            </div>
        </div>

        <div class="footer-bottom">
            <p>&copy; 2025 <strong>Beverly Gonzalez</strong>. Todos los derechos reservados.</p>
        </div>
    </footer>

    <!-- Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>

<!-- Main JS -->
<script src="/js/main.js"></script>